:root {
    --text-color: white;
    --main-background: #44444496;
    --accent-color: #1e1e1f;
    --button-color: #dc143c;
    --box-shadow: 0 4px 8px 0 rgba(82, 82, 82, 0.5);
    --font: "Poppins", "sans-serif";
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
  
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
  
}

li {
    list-style-type: none;
  
}

label {
    display: block;
  
    margin: 10px 0 5px;
}

select,
input {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border-style: solid;
  border-radius: 1px;
  border-width: 0.1rem;
  border-color: rgba(110, 110, 119, 0.925);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
    color: var(--text-color);
    font-weight: bold;
    font-family: var(--font);
    box-shadow: var(--box-shadow);
    text-align: center;
}

select option {
    background-color: var(--accent-color);
}

select:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

input:focus {
    outline: none;
}

.banking-container {
  
    display: flex;
    height: 50vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
   border-style: solid;
  border-radius: 3px;
  border-width: 0.1rem;
  border-color: rgba(110, 110, 119, 0.925);
  background: radial-gradient(circle, rgba(44, 44, 44, 0.692) 0%, rgba(41, 41, 43, 0.795) 100%);
}

.sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
}

.sidebar-header {
   background: radial-gradient(circle, rgba(74, 94, 38, 0.684) 0%, rgba(61, 79, 31, 0.256) 100%);
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgb(134, 164, 77);
  margin: 10px;
  padding: 10px 20px;
  
}

.sidebar-footer {
    background: radial-gradient(circle, rgba(74, 94, 38, 0.684) 0%, rgba(61, 79, 31, 0.256) 100%);
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgb(134, 164, 77);
    margin: 10px;
    padding: 10px 20px;
    
    box-shadow: var(--box-shadow);
}

.sidebar-accounts {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
  
}

.sidebar-accounts li {
   background: radial-gradient(circle, rgba(74, 94, 38, 0.684) 0%, rgba(61, 79, 31, 0.256) 100%);
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgb(134, 164, 77);
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: rgb(134, 164, 77);
}

.sidebar-selected {
    border-right: 2px solid var(--button-color);
}

.main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-bar {
    min-height: 10%;
    max-height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.089) 0%, rgba(77, 79, 87, 0.177) 100%);
}

.nav-options {
    display: flex;
    align-items: center;
}

.nav-option {
    display: flex;
    align-items: center;
    background: radial-gradient(circle, rgba(74, 94, 38, 0.684) 0%, rgba(61, 79, 31, 0.256) 100%);
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgb(134, 164, 77);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.transactions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.transactions li {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle, rgba(74, 94, 38, 0.684) 0%, rgba(61, 79, 31, 0.256) 100%);
  border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgb(134, 164, 77);
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
}

.money {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.manage-money {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 2px;
    padding: 20px;
}

.money-title {
    font-size: 2vh;
}

.transfer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 30px;
}

.transfer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

.transfer-options {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.account-options {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.debit-card,
.create-account,
.edit-account,
.manage-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 21.5vh;
    width: 19.8vw;
    border-right: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
    margin: 1px;
    padding: 20px;
    box-sizing: border-box;
}

.options-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

.options-inputs {
    width: 100%;
    max-height: 3.6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#createAccountName,
#editAccount,
#manageAccountName {
    margin-right: 25px;
}

#manageUserName {
    width: 95%;
}

.combo-input {
    display: flex;
    flex-direction: column;
}

.dropdown-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.list-container {
    width: fit-content;
    border-style: solid;
  border-radius: 3px;
  border-width: 0.15rem;
  border-color: rgba(110, 110, 119, 0.925);
  background: radial-gradient(circle, rgba(44, 44, 44, 0.692) 0%, rgba(41, 41, 43, 0.795) 100%);
}

.list-container ul {
    margin-left: 10px;
    margin-right: 10px;
}

.action-button {
    background: radial-gradient(circle, rgba(133, 58, 59, 0.089) 0%, rgba(105,46,47, 0.177) 100%) !important;
      cursor: not-allowed;
      border-style: solid;
      border-radius: 3px;
      border-width: 0.15rem;
      border-color: rgb(137, 60, 61);
    margin: 10px;
    padding: 10px 20px;
    
    cursor: pointer;
    
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
}

.selected {
    background: radial-gradient(circle, rgba(135, 207, 0, 0.836) 0%, rgba(101, 163, 0, 0.884) 100%);
}

.positive-balance {
    color: #28a745;
}

.negative-balance {
    color: #dc3545;
}

.pin-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    width: 16vw;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 3px;
    border-width: 0.15rem;
    border-color: rgba(110, 110, 119, 0.925);
    background: radial-gradient(circle, rgba(44, 44, 44, 0.692) 0%, rgba(41, 41, 43, 0.795) 100%);
}

.pin-input {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.number-pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.number-pad button {
    width: 25%;
    height: 20%;
    margin: 4px;
    
    cursor: pointer;
    background: radial-gradient(circle, rgba(74, 94, 38, 0.684) 0%, rgba(61, 79, 31, 0.256) 100%);
    border-style: solid;
    border-radius: 3px;
    border-width: 0.1rem;
    border-color: rgb(134, 164, 77);
    font-family: var(--font);
    color: var(--text-color);
    font-weight: bold;
    box-shadow: var(--box-shadow);
}

.notification-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: var(--box-shadow);
}

.notification.success {
    background-color: #28a745; /* Green for success */
}

.notification.error {
    background-color: #dc3545; /* Red for error */
}
